{# index.twig #}

<header class="header">
	<div class="header__top">
		<div class="header__top-image">
			<img src="img/group@2x.png" alt="logo">
		</div>
		<div class="header__top-numb">
			<div class="header__top-numb-phone-img">
				<svg role="img" class="vector">
					<use xlink:href="#vector"></use>
				</svg>
			</div>
			<a href="tel:+8 (800) 200-32-35">8 (800) 200-32-35</a>
			<div class="header__mobile-image" onclick="window.location='tel:+8 (800) 200-32-35';">
				<svg role="img" class="phone">
	  				<use xlink:href="#phone"></use>
				</svg>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="header__main">
			<h1 class="header__title">
				Инвестиционные продукты
			</h1>
			<div class="header__sub-title">с потенциальным уровнем доходности</div>
			<div class="header__sub-title header__sub-title_red">до +30% годовых!</div>
		</div>
		<div class="header__line header__line_rotate">
			<div class="header__dop-line"></div>
			<div class="header__dop-line"></div>
		</div>
	</div>
</header>