{# index.twig #}
<section class="why">
	<div class="container">
		<div class="why__head">
			<div class="why__head-logo">
				<img src="img/red-logo@2x.png" alt="red-logo" class="why__red-logo">
			</div>
			<div class="why__head-top-word">
				<h2 class="title">
					Почему ITI Capital
				</h2>
			</div>
		</div>
	<div class="why__main">
		<div class="why__main-null">
			<h2 class="title">
				Почему ITI Capital
			</h2>
		</div>
		<div class="why__main-text">
			<div class="container cont1">
				<div class="why__reliably">
					<div class="why__reliably-svg">
						<svg role="img" class="group-20">
							<use xlink:href="#group-20"></use>
						</svg>
					</div>
					<div class="why__indicators">
						<h3 class="why__title">Надежно</h3>
						<p class="why__pros">Рейтинг надежности ААА</p>
						<p class="why__pros">18 лет на рынке </p>
						<p class="why__pros">Более 15 000 клиентов</p>
					</div>
				</div>
				<div class="why__available">
					<div class="why__available-svg">
						<svg role="img" class="group-3">
							<use xlink:href="#group-3"></use>
						</svg>
					</div>
					<div class="why__indicators">
						<h3 class="why__title">Доступно</h3>
						<p class="why__pros">Откройте счет дистанционно</p>
						<p class="why__pros">Управляйте счетом и продуктами через Личный кабинет</p>
						<p class="why__pros">Наши консультанты всегда рядом, мы работаем 7 дней в неделю</p>
					</div>
				</div>
				<div class="why__conveniently">
					<div class="why__conveniently-svg">
						<svg role="img" class="group-21">
							<use xlink:href="#group-21"></use>
						</svg>
					</div>
					<div class="why__indicators">
						<h3 class="why__title">Удобно</h3>
						<p class="why__pros">Подробная информация о счете в Личном кабинете</p>
						<p class="why__pros">Подписывайте документы простым SMS-сообщением</p>
						<p class="why__pros">Все инвестиционные стратегии под контролем наших аналитиков</p>
					</div>
				</div>
				<div class="why__about-phone">
					<div class="why__phone">
						<div class="why__phone-image">
							<svg role="img" class="vector">
								<use xlink:href="#vector"></use>
							</svg>
						</div>
						<a class="why__phone-numb" href="tel:+8 (800) 200-32-35">
							8 (800) 200-32-35
						</a>
					</div>
					<div class="why__about">
						<a href="#">О компании</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="why__quest">
		<div class="container">
			<div class="why__questions">
				<div class="why__questions-more">
					<h3>Остались вопросы?</h3>
					<p>Ответим в удобное для вас время</p>
				</div>
				<div class="why__questions-buttons">
						<a class="why__asc" href="#">Спросить в чате →</a>
						<a class="why__order" href="#">Заказать звонок  →</a>
				</div>
			</div>
		</div>
	</div>
</section>