/*  Переменные со шрифтами  */
$accent-font: 'PT Sans', sans-serif;


/*  Переменные с гарнитурами шрифтов  */
$pt-bold: 700;


/*  Основные цвета  */
$accent-color: #f4b600;
$secondary-color: #6a7678;
$nedo-yellow:#fffce3;
$nedo-red:#e05b50;


/* Разрешения */
$tablet: 1024px;
$mobile: 768px;
$iphone: 320px;