{# index.twig #}
{% extends "layouts/layout.twig" %}

{% block page %}
    <main>
	{% include 'blocks/calculator.twig' %}
    {% include 'blocks/strategy.twig' %}
    {% include 'blocks/more-det.twig' %}
    {% include 'blocks/why.twig' %}
    </main>
{% endblock %}